#main-container {
    padding-left: 16rem;
    padding-right: 1rem;
    margin-top: 1rem;
}

#login-body {
    background-color: #DADADA;
}

    #login-body > .grid {
        height: 100%;
    }

    #login-body .image {
        margin-top: -100px;
    }

    #login-body .column {
        max-width: 450px;
    }

#login-form {
    text-align: left;
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors ul {
    padding-left: 0;
}

.validation-summary-errors li {
    margin-left: 1em;
}